body{
	padding:0px 0px !important;
}


header{
	background: url('images/headerimg.jpg') no-repeat;
	background-size: cover;
	padding:200px 0px;
}
nav a{
	margin-right: 15px;
	color:white;
}
nav a:hover{
	color:darkgrey;
}

.head{
	background-color: white;
	opacity: 0.75;
	padding:28px;
}
.hea{
	border:2px solid black;
	padding: 22px;
	
}
h1{
	font-size: 3.5em;
	font-weight:700;
}
header p{
	font-size: 1.5em;
	letter-spacing: 3px;
}
#all{
	margin-bottom: 80px;
}
#all:hover{
	cursor:pointer;
}
#all li{
	display:inline;
	text-transform: uppercase;
	padding:15px;
	text-align: center;
}
.block:after{
	content:"";
	border:3px solid black;
	position:absolute;
	top:30px;
	margin-right:50px;
}
#sec1{
	padding: 150px 0px;
	background-color:rgb(245,245,245);
}
#all li:hover{
	color:blue;
}
#sec1 img{
	position: relative;
}
i{
	position: absolute;
	top:50%;
	left:50%;
	visibility: hidden;
	font-size: 50px;
	margin-top: -25px;
	margin-left: -25px;
	

	
}
#sec2 p{
	font-size: 18px;
	font-weight: lighter;
}
#sec2 h2{
	font-weight: lighter;
}
#sec3{
	background-color:rgb(245,245,245); 
}
#sec3 .col-md-3{
	margin-top: 80px;
}
.table{
	font-size:20px;
	font-weight:lighter;
	text-align: center;
}
.table tr:nth-child(1){
	font-size:22px;
	font-weight:lighter;
	text-transform: uppercase;
}
 .table tr:nth-child(2){
	font-size:35px;
	font-weight: lighter;
}
.table tr:nth-child(2) p{
	font-size:15px;
	font-weight: lighter;
}
img:hover{
	opacity:0.6;
}
footer{
	color:#fff;
}

